<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="database" type="Databaze.DtbConfig, MediTab" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="verze" value="1.0.0" />
    <!--ve value bude PRACOV_ID z databáze, na skolni 3, ve fn 214-->
    <add key="pracoviste" value="3" />
    <!--prepnuti na doplneni KIS. ve fn: na skolni "", ve fn "KIS."-->
    <add key="doplneniKIS" value="" />
    <!--prefix hesla ve fn: na skolni "", ve fn "1"-->
    <add key="prefix" value="" />
    <!--login input: Debug "D", Release "R"-->
    <add key="logIn" value="D" />
    <!--časy pro rano, poledne, vecer a noc pro konkretni oddeleni-->
    <add key="RANO" value="6" />
    <add key="POLEDNE" value="12" />
    <add key="VECER" value="18" />
    <add key="NOC" value="22" />
    <!--nastavení počáteční hodinu medikační karty-->
    <add key="POCATEK" value="6" />
    <!--počet hodin, po kterých už akce nelze zadat (0 = lze zadat pouze v aktuální hodinu)-->
    <add key="ZpetnePodani" value="6" />
    <!--vyber mezi denni a hodinovou variantou bilance tekutin, pokud je denni nastavena na false, pouzije se hodinova-->
    <add key="Denni" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <database port="1521" host="students.kiv.zcu.cz" name="STUDENTS" username="meditab" password="MediTab" />
  <!--<database port="1521" host="kiska.fnplzen.cz" name="kis.fnplzen.cz" username="meditab" password="MediTab" />-->
  <!--<database port="1521" host="kiscluster-scan.fnplzen.cz" name="kis_service.fnplzen.cz" username="meditab" password="MediTab" />-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <log4net>
    <appender name="DetailAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <param name="File" value="${AppData}/MediTab/log-file-detail.txt"/>
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Debug" />
        <levelMax value="Debug" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>
    <appender name="ActionAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <param name="File" value="${AppData}/MediTab/log-file-action.txt"/>
      <!--param name="File" value="log-file-action.txt" /-->
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Warn" />
        <levelMax value="Warn" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <param name="File" value="${AppData}/MediTab/log-file-error.txt"/>
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>
    <appender name="ZaznamAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <param name="File" value="${AppData}/MediTab/log-file-zaznamy.xml"/>
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="MediTab.Opravy.MyXmlLayout" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>
    <logger name="Logger">
      <level value="ALL" />
      <param value="ALL" name="Threshold" />
      <appender-ref ref="ActionAppender" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="DetailAppender" />
      <appender-ref ref="ZaznamAppender" />
    </logger>
  </log4net>
</configuration>