@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>


<div class="col-sm-8 col-xs-12">
    <div id="map" style="width:100%;height:400px;background:yellow"></div>
</div>

<div class="col-sm-4 col-xs-12">
    <address>
        <strong>Hell's bank</strong><br />
        Hell's road 6<br />
        301 00 Pilsen<br />
        Czech Republic<br />
        <strong>Phone:</strong> 666 666 666<br />
        <strong>Email:</strong> <a href="mailto:Support@666.com">Support@666.com</a><br />
    </address>
</div>

<script>
    myMap();
</script>
