@model Bank.Models.Template

@{
    ViewData["Title"] = "Payments";
}

<div class="container">
    <h2>Template:</h2>

    <form asp-action="AddTemplate" method="post" class="row form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label col-sm-2">Name *</label>
            <input asp-for="Name" class="form-multi-control col-sm-10" style="width: 150px" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <p class="text-danger">@ViewBag.ErrName</p>
        </div>
        <div class="form-group">
            <label asp-for="DestAccount" class="control-label col-sm-2">Account *</label>
            <div class="col-sm-10 zero-padding">
                <input asp-for="DestAccountPrefix" class="form-multi-control" style="width: 100px" /> -
                <input asp-for="DestAccount" class="form-multi-control" style="width: 300px" /> /
                <input asp-for="DestBank" class="form-multi-control" style="width: 60px" />
                <select id="BankCode" class="form-multi-control" style="width: 200px" onchange="selectBankCode()">
                    <option value=""></option>
                    <option value="0300">0300 CSOB</option>
                    <option value="666">666 Bank of 666</option>
                    <option value="0100">0100 Komercni banka</option>
                    <option value="0800">0800 Ceska sporitelna</option>
                </select>
                <span asp-validation-for="DestAccountPrefix" class="text-danger"></span>
                <span asp-validation-for="DestAccount" class="text-danger"></span>
                <span asp-validation-for="DestBank" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label col-sm-2">Amount *</label>
            <input asp-for="Amount" class="form-multi-control col-sm-10" style="width: 100px" /><label class="control-label"> CZK</label>
            <span asp-validation-for="Amount" class="text-danger"></span>
            <p class="text-danger">@ViewBag.Insufficient</p>
        </div>

        <div class="form-group">
            <label asp-for="Constant" class="control-label col-sm-2"></label>
            <input asp-for="Constant" class="form-multi-control col-sm-10" style="width: 60px" />
            <span asp-validation-for="Constant" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Variable" class="control-label col-sm-2"></label>
            <input asp-for="Variable" class="form-multi-control col-sm-10" style="width: 100px" />
            <span asp-validation-for="Variable" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specific" class="control-label col-sm-2"></label>
            <input asp-for="Specific" class="form-multi-control col-sm-10" style="width: 100px" />
            <span asp-validation-for="Specific" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 zero-padding">
                <p class="text-danger">@ViewBag.ErrMsg</p>
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="AddTemplate" class="btn btn-default">Reset</a>
            </div>
        </div>
    </form>
</div>

